In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

Checking out the dataset that was in two parts and then merging them with the concat() method, since they have the same columns

In [2]:
big_df_pt1 = pd.read_csv('../data/raw/df_final_web_data_pt_1.txt')
big_df_pt2 = pd.read_csv('../data/raw/df_final_web_data_pt_2.txt')
big_df_pt1

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [3]:
big_df_pt2

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [4]:
merged_df = pd.concat([big_df_pt1, big_df_pt2], axis=0)
merged_df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [5]:
# Basic inspecting of the dataframe
def inspect_dataframe(merged_df):
    """
    Function to perform basic inspection on a DataFrame: 
    shape, column names, data types, and missing values.
    
    """

    print('Check the shape (rows, columns):')
    print(merged_df.shape)

    print('\nColumn names:')
    print(merged_df.columns)


    print('\nData types:')
    print(merged_df.dtypes)


    print('\nMissing values:')
    print(merged_df.isnull().sum())

# clean column names
def clean_column_names(merged_df):
    """
    Function to clean the column names of a DataFrame:
    - Convert to lowercase
    - Replace spaces with underscores
    - Remove or replace special characters with underscores

    """

    def clean_name(name):
        name = name.lower()
        name = name.replace(" ", "_")
        name = re.sub(r'[^a-z0-9_]', '_', name)
        return name
    
    merged_df.columns = [clean_name(col) for col in merged_df.columns]    
    return merged_df

# check unique and empty values
def check_unique_and_empty(merged_df):
    """
    Function to print the unique and empty values for each column in a DataFrame.
    
    """
    result = []
    
    for column in merged_df.columns:
        unique_values = merged_df[column].nunique()
        empty_values = merged_df[column].isna().sum()
        
        empty_rows = merged_df[column][merged_df[column].isna()].index.tolist()
        
        result.append({
            'Column': column,
            'Unique Values': unique_values,
            'Empty Values': empty_values,
            'Empty Row Indices': empty_rows
        })
    
    merged_df = pd.DataFrame(result)
    
    merged_df.set_index('Column', inplace=True)
    
print(inspect_dataframe(merged_df)) 
print(clean_column_names(merged_df))
print(check_unique_and_empty(merged_df))
display(merged_df)

Check the shape (rows, columns):
(755405, 5)

Column names:
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

Data types:
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

Missing values:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64
None
        client_id             visitor_id                      visit_id  \
0         9988021   580560515_7732621733  781255054_21935453173_531117
1         9988021   580560515_7732621733  781255054_21935453173_531117
2         9988021   580560515_7732621733  781255054_21935453173_531117
3         9988021   580560515_7732621733  781255054_21935453173_531117
4         9988021   580560515_7732621733  781255054_21935453173_531117
...           ...                    ...                           ...
412259    9668240   388766751_9038881013   922267647_3096648104_968866
412260    9668240   388766751_9038881013   922267647_3096648104_968866
412261    9668240   388766751_9038881013   922267647_3096648104_968866
412262    9668240   388766751_9038881013   922267647_3096648104_968866
412263     674799  947159805_81558194550   86152093_47511127657_716022

       process_step            date_time
0            step_3  2017-04-17 15:27:07
1            step_2  2017-04-17 15:26:51
2            step_3  2017-04-17 15:19:22
3            step_2  2017-04-17 15:19:13
4            step_3  2017-04-17 15:18:04
...             ...                  ...
412259        start  2017-05-24 18:46:10
412260        start  2017-05-24 18:45:29
412261       step_1  2017-05-24 18:44:51
412262        start  2017-05-24 18:44:34
412263        start  2017-06-03 12:17:09

[755405 rows x 5 columns]
None

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [6]:
merged_df.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [7]:
# Changing the date_time column values from objects to 
merged_df['date_time'] = pd.to_datetime(merged_df['date_time'])
merged_df.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [8]:
merged_df= merged_df.sort_values(by=["client_id", "visit_id", "date_time"])
merged_df

,client_id,visitor_id,visit_id,process_step,date_time
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
...,...,...,...,...,...
305392,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08
305391,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:41:28
305390,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47
305389,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58
305388,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39

In [9]:
# Identify and keep only the last occurrence of consecutive same steps
merged_df['prev_process_step'] = merged_df.groupby('visit_id')['process_step'].shift(1)

# Filter to keep only rows where the current process_step is different from the previous one,
# or it's the first occurrence in the group
merged_df = merged_df[merged_df['process_step'] != merged_df['prev_process_step']]

# Drop the helper column used for comparison
merged_df = merged_df.drop(columns=['prev_process_step'])

# Reset index if needed
merged_df = merged_df.reset_index(drop=True)
merged_df

,client_id,visitor_id,visit_id,process_step,date_time
0,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
4,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
...,...,...,...,...,...
667395,9999875,738878760_1556639849,931268933_219402947_599432,start,2017-06-01 22:40:01
667396,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08
667397,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47
667398,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58
667399,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39

In [10]:
# Identifying and dropping the visit_ids that don't have 'start' in the process_step column
visits_with_start = merged_df[merged_df['process_step'] == 'start']['visit_id'].unique()
filtered_df_with_start = merged_df[merged_df['visit_id'].isin(visits_with_start)]
display(filtered_df_with_start)

# Identifying and dropping the client_ids that don't have 'start' in the process_step column
clients_with_start = filtered_df_with_start[filtered_df_with_start['process_step'] == 'start']['client_id'].unique()
filtered_df = filtered_df_with_start[filtered_df_with_start['client_id'].isin(clients_with_start)]
display(filtered_df)

,client_id,visitor_id,visit_id,process_step,date_time
0,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
4,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
...,...,...,...,...,...
667395,9999875,738878760_1556639849,931268933_219402947_599432,start,2017-06-01 22:40:01
667396,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08
667397,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47
667398,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58
667399,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39

,client_id,visitor_id,visit_id,process_step,date_time
0,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
4,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
...,...,...,...,...,...
667395,9999875,738878760_1556639849,931268933_219402947_599432,start,2017-06-01 22:40:01
667396,9999875,738878760_1556639849,931268933_219402947_599432,step_1,2017-06-01 22:40:08
667397,9999875,738878760_1556639849,931268933_219402947_599432,step_2,2017-06-01 22:41:47
667398,9999875,738878760_1556639849,931268933_219402947_599432,step_3,2017-06-01 22:44:58
667399,9999875,738878760_1556639849,931268933_219402947_599432,confirm,2017-06-01 22:48:39

In [11]:
# Step 1: Identify 'start' steps
start_steps = filtered_df[filtered_df['process_step'] == 'start']

# Step 2: Find 'start' steps followed by 'step_1'
# Create a column to check the next step within each visit_id
filtered_df['next_step'] = filtered_df.groupby('visit_id')['process_step'].shift(-1)

# Keep 'start' steps directly followed by 'step_1'
start_followed_by_step_1 = filtered_df[(filtered_df['process_step'] == 'start') & 
                                       (filtered_df['next_step'] == 'step_1')]

# Step 3: Handle remaining 'start' steps not followed by 'step_1'
# Get the visit_ids where 'start' isn't followed by 'step_1'
remaining_start_steps = start_steps[~start_steps['visit_id'].isin(start_followed_by_step_1['visit_id'])]

# For visit_ids with multiple 'start' steps, keep only the latest one
latest_start_per_visit = remaining_start_steps.loc[remaining_start_steps.groupby('visit_id')['date_time'].idxmax()]

# Combine the filtered 'start' steps
final_start_steps = pd.concat([start_followed_by_step_1, latest_start_per_visit])

# Step 4: Merge the filtered 'start' steps back with the original DataFrame
# Keep all rows from the original DataFrame, but only include the filtered 'start' steps
filtered_df = pd.concat([filtered_df[filtered_df['process_step'] != 'start'], final_start_steps]).sort_values(by=['visit_id', 'date_time'])

# Clean up the temporary 'next_step' column
filtered_df = filtered_df.drop(columns=['next_step'])
filtered_df

C:\Users\PC\AppData\Local\Temp\ipykernel_12852\662969581.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['next_step'] = filtered_df.groupby('visit_id')['process_step'].shift(-1)

,client_id,visitor_id,visit_id,process_step,date_time
604295,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29
604296,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32
604297,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56
604298,9056452,306992881_89423906595,1000165_4190026492_760066,step_3,2017-06-04 01:09:13
604299,9056452,306992881_89423906595,1000165_4190026492_760066,confirm,2017-06-04 01:09:50
...,...,...,...,...,...
476782,7149380,483112224_46340533900,999992932_41666455053_671149,start,2017-06-06 15:46:03
476783,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24
476784,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32
476785,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46
476786,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08

In [12]:
client = filtered_df[filtered_df['client_id'] == 1104]
client

,client_id,visitor_id,visit_id,process_step,date_time
63,1104,194240915_18158000533,543158812_46395476577_767725,start,2017-06-12 07:49:18
64,1104,194240915_18158000533,643221571_99977972121_69283,start,2017-06-20 22:31:33

In [13]:
filtered_df = filtered_df.drop_duplicates()

In [14]:
# After checking again if there were some client_ids or visit_ids without any 'start' step, we found one that will just be manually dropped.
filtered_df = filtered_df[filtered_df['client_id'] != 9584377]

In [15]:
# Step 1: Create a column to track the next step for each row within the same visit_id
filtered_df['next_step'] = filtered_df.groupby('visit_id')['process_step'].shift(-1)

# Step 2: Identify 'confirm' steps directly followed by another 'confirm'
filtered_df['is_skippable_confirm'] = (filtered_df['process_step'] == 'confirm') & (filtered_df['next_step'] == 'confirm')

# Step 3: Mark the last 'confirm' step in cases where there are consecutive 'confirm' steps
filtered_df['is_last_confirm'] = (filtered_df['process_step'] == 'confirm') & \
                                 (filtered_df['next_step'] != 'confirm')

# Step 4: Keep all rows, but only the last 'confirm' step in consecutive cases
filtered_df = filtered_df[(filtered_df['process_step'] != 'confirm') | 
                          (~filtered_df['is_skippable_confirm']) | 
                          (filtered_df['is_last_confirm'])]

# Step 5: Drop temporary columns used for filtering
filtered_df = filtered_df.drop(columns=['next_step', 'is_skippable_confirm', 'is_last_confirm'])

filtered_df

,client_id,visitor_id,visit_id,process_step,date_time
604295,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29
604296,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32
604297,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56
604298,9056452,306992881_89423906595,1000165_4190026492_760066,step_3,2017-06-04 01:09:13
604299,9056452,306992881_89423906595,1000165_4190026492_760066,confirm,2017-06-04 01:09:50
...,...,...,...,...,...
476782,7149380,483112224_46340533900,999992932_41666455053_671149,start,2017-06-06 15:46:03
476783,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24
476784,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32
476785,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46
476786,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08

In [16]:
# Define the valid steps order
valid_steps_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Map the steps to their order for easier comparison
step_to_order = {step: idx for idx, step in enumerate(valid_steps_order)}

def is_valid_sequence(group):
    # Map steps to their order
    step_orders = group['process_step'].map(step_to_order).tolist()
    
    # Check if the sequence matches forward or backward order without skipping
    for i in range(len(step_orders) - 1):
        if abs(step_orders[i] - step_orders[i + 1]) != 1:
            return False  # Skipped steps found
    return True

# Filter the DataFrame for valid consecutive steps (forward or backward)
filtered_df = (
    filtered_df.groupby('visit_id', group_keys=False)
    .filter(is_valid_sequence))

filtered_df

,client_id,visitor_id,visit_id,process_step,date_time
604295,9056452,306992881_89423906595,1000165_4190026492_760066,start,2017-06-04 01:07:29
604296,9056452,306992881_89423906595,1000165_4190026492_760066,step_1,2017-06-04 01:07:32
604297,9056452,306992881_89423906595,1000165_4190026492_760066,step_2,2017-06-04 01:07:56
604298,9056452,306992881_89423906595,1000165_4190026492_760066,step_3,2017-06-04 01:09:13
604299,9056452,306992881_89423906595,1000165_4190026492_760066,confirm,2017-06-04 01:09:50
...,...,...,...,...,...
476782,7149380,483112224_46340533900,999992932_41666455053_671149,start,2017-06-06 15:46:03
476783,7149380,483112224_46340533900,999992932_41666455053_671149,step_1,2017-06-06 15:46:24
476784,7149380,483112224_46340533900,999992932_41666455053_671149,step_2,2017-06-06 15:47:32
476785,7149380,483112224_46340533900,999992932_41666455053_671149,step_3,2017-06-06 16:01:46
476786,7149380,483112224_46340533900,999992932_41666455053_671149,confirm,2017-06-06 16:04:08

### For our project, we need to know how much time a client spends on each step and if they ever reached the last step.

In [17]:
# Define the valid order of process steps
valid_steps_order = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Initialize a list to store the results
time_spent = []

# Function to map steps to their order
def step_order(step):
    return valid_steps_order.index(step)

# Iterate over each unique combination of client, visitor, and visit
for (client_id, visitor_id, visit_id), group in filtered_df.groupby(['client_id', 'visitor_id', 'visit_id']):
    prev_time = None
    prev_step = None
    last_valid_step_order = -1  # Start with an invalid step order to force a check for the first step
    
    for _, row in group.iterrows():
        current_time = pd.to_datetime(row['date_time'])
        current_step = row['process_step']
        
        # Check if this is the first step
        if prev_step is None:
            # Only process if the current step is 'start'
            if current_step == 'start':
                time_spent.append({
                    'client_id': client_id,
                    'visitor_id': visitor_id,
                    'visit_id': visit_id,
                    'from_step': None,
                    'to_step': current_step,
                    'time_spent': None,
                    'is_error': False  # No error for the first 'start' step
                })
                prev_time = current_time
                prev_step = current_step
                last_valid_step_order = step_order(current_step)
            continue  # Skip the rest for invalid first steps

        # For subsequent steps, check the order and calculate time
        current_step_order = step_order(current_step)
        if current_step_order > last_valid_step_order + 1:
            # If there's a step order skip, drop this row
            continue
        elif current_step_order < last_valid_step_order:
            # Backward step is considered an error
            time_diff = current_time - prev_time
            time_spent.append({
                'client_id': client_id,
                'visitor_id': visitor_id,
                'visit_id': visit_id,
                'from_step': prev_step,
                'to_step': current_step,
                'time_spent': time_diff,
                'is_error': True
            })
        else:
            # Valid transition
            time_diff = current_time - prev_time
            time_spent.append({
                'client_id': client_id,
                'visitor_id': visitor_id,
                'visit_id': visit_id,
                'from_step': prev_step,
                'to_step': current_step,
                'time_spent': time_diff,
                'is_error': False
            })

        # Update previous step info
        prev_time = current_time
        prev_step = current_step
        last_valid_step_order = current_step_order

# Create a DataFrame with the results
time_spent_df = pd.DataFrame(time_spent)

# Drop rows with None values in 'from_step' and 'to_step'
time_spent_df = time_spent_df.dropna(subset=['from_step', 'to_step'])

# Display the resulting DataFrame
time_spent_df

,client_id,visitor_id,visit_id,from_step,to_step,time_spent,is_error
1,169,201385055_71273495308,749567106_99161211863_557568,start,step_1,0 days 00:00:09,False
2,169,201385055_71273495308,749567106_99161211863_557568,step_1,step_2,0 days 00:00:46,False
3,169,201385055_71273495308,749567106_99161211863_557568,step_2,step_3,0 days 00:01:34,False
4,169,201385055_71273495308,749567106_99161211863_557568,step_3,confirm,0 days 00:01:04,False
7,546,475037402_89828530214,731811517_9330176838_94847,start,step_1,0 days 00:00:10,False
...,...,...,...,...,...,...,...
548765,9999839,948322592_28990736246,715530422_68620416793_515645,step_3,confirm,0 days 00:00:35,False
548767,9999875,738878760_1556639849,931268933_219402947_599432,start,step_1,0 days 00:00:07,False
548768,9999875,738878760_1556639849,931268933_219402947_599432,step_1,step_2,0 days 00:01:39,False
548769,9999875,738878760_1556639849,931268933_219402947_599432,step_2,step_3,0 days 00:03:11,False
548770,9999875,738878760_1556639849,931268933_219402947_599432,step_3,confirm,0 days 00:03:41,False

In [19]:
# Add a new column to check if 'from_step' and 'to_step' are the same
time_spent_df['is_same_step'] = time_spent_df['from_step'] == time_spent_df['to_step']

# Filter rows where the two columns are the same
same_step_rows = time_spent_df[time_spent_df['is_same_step']]
display(same_step_rows)

# Filter rows where 'from_step' and 'to_step' are the same
same_step_rows = time_spent_df[time_spent_df['from_step'] == time_spent_df['to_step']]

# Drop these rows from the main DataFrame
time_spent_df = time_spent_df.drop(same_step_rows.index)
time_spent_df = time_spent_df.drop(columns=['is_same_step'])

# Ensure 'to_step' is retained in the filtered DataFrame
time_spent_df = time_spent_df.reset_index(drop=True)
display(time_spent_df)

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, from_step, to_step, time_spent, is_error, is_same_step]
Index: []

,client_id,visitor_id,visit_id,from_step,to_step,time_spent,is_error
0,169,201385055_71273495308,749567106_99161211863_557568,start,step_1,0 days 00:00:09,False
1,169,201385055_71273495308,749567106_99161211863_557568,step_1,step_2,0 days 00:00:46,False
2,169,201385055_71273495308,749567106_99161211863_557568,step_2,step_3,0 days 00:01:34,False
3,169,201385055_71273495308,749567106_99161211863_557568,step_3,confirm,0 days 00:01:04,False
4,546,475037402_89828530214,731811517_9330176838_94847,start,step_1,0 days 00:00:10,False
...,...,...,...,...,...,...,...
413379,9999839,948322592_28990736246,715530422_68620416793_515645,step_3,confirm,0 days 00:00:35,False
413380,9999875,738878760_1556639849,931268933_219402947_599432,start,step_1,0 days 00:00:07,False
413381,9999875,738878760_1556639849,931268933_219402947_599432,step_1,step_2,0 days 00:01:39,False
413382,9999875,738878760_1556639849,931268933_219402947_599432,step_2,step_3,0 days 00:03:11,False
413383,9999875,738878760_1556639849,931268933_219402947_599432,step_3,confirm,0 days 00:03:41,False

In [20]:
errors_occured = time_spent_df['is_error'].value_counts()
errors_occured

is_error
False    383242
True      30142
Name: count, dtype: int64

In [21]:
# Filter transitions to include only those that follow the valid steps order
valid_transitions = []

# Iterate over the time_spent_df and filter valid transitions
for _, row in time_spent_df.iterrows():
    from_step = row['from_step']
    to_step = row['to_step']
    
    # Check if the transition follows the valid steps order (i.e., from a step to the next one in order)
    if from_step is not None and to_step is not None:
        if valid_steps_order.index(to_step) == valid_steps_order.index(from_step) + 1:
            valid_transitions.append(row)

# Create a DataFrame with only valid transitions
valid_transitions_df = pd.DataFrame(valid_transitions)

# Calculate the average time spent on each transition
avg_time_spent = valid_transitions_df.groupby(['from_step', 'to_step'])['time_spent'].mean().round(0).reset_index()

# Rename the columns for clarity
avg_time_spent = avg_time_spent.rename(columns={'time_spent': 'avg_time_spent'})

# Display the resulting DataFrame
avg_time_spent

  from_step  to_step            avg_time_spent
0     start   step_1 0 days 00:00:57.194575231
1    step_1   step_2 0 days 00:00:40.266086347
2    step_2   step_3 0 days 00:01:34.128718529
3    step_3  confirm 0 days 00:01:57.537014503

Checking how much time on average a client might take on an error, on one of their visits to the platform, can also bring us insights

In [22]:
# Filter rows where 'is_error' is True
errors_df = time_spent_df[time_spent_df['is_error'] == True]

# Calculate the average time spent on errors
avg_time_per_error = errors_df['time_spent'].mean()

# Display the results
print(f"Average time spent per error: {avg_time_per_error} seconds")

errors_df

Average time spent per error: 0 days 00:02:25.761661469 seconds

,client_id,visitor_id,visit_id,from_step,to_step,time_spent,is_error
18,722,919259913_64837298108,984487154_55831795985_521110,step_2,step_1,0 days 00:00:16,True
19,722,919259913_64837298108,984487154_55831795985_521110,step_1,start,0 days 00:05:04,True
34,832,645971208_10952400740,704999523_65579948030_431837,step_2,step_1,0 days 00:00:11,True
51,1197,753759429_54481946928,71862471_21202285428_848395,step_3,step_2,0 days 00:00:11,True
67,1399,395313004_27952045034,355891466_83298426087_683392,step_1,start,0 days 00:02:07,True
...,...,...,...,...,...,...,...
413312,9998460,897717263_96593574747,626252558_3871240559_33704,step_1,start,0 days 00:03:41,True
413334,9998980,524732498_29551944764,630818873_69328760078_288792,step_1,start,0 days 00:01:37,True
413368,9999768,389637884_26725643037,85676722_11636430786_122704,step_3,step_2,0 days 00:01:58,True
413369,9999768,389637884_26725643037,85676722_11636430786_122704,step_2,step_1,0 days 00:00:01,True
413370,9999768,389637884_26725643037,85676722_11636430786_122704,step_1,start,0 days 00:00:06,True

Some clients didn't ever complete the process. Therefore, we need to ensure they are identified and see how many clients reached which step.

In [24]:
# Identify clients who didn't complete the whole process (didn't reach "confirm")
completed_clients = time_spent_df[time_spent_df['to_step'] == 'confirm']['visit_id'].unique()

# Identify clients who didn't reach "confirm"
incomplete_clients = time_spent_df[~time_spent_df['visit_id'].isin(completed_clients)]['visit_id'].unique()

# Show which clients are incomplete
print(f"Clients who didn't complete the process: {incomplete_clients}")

# Check the last step they reached
last_steps = time_spent_df.groupby('visit_id')['to_step'].last()

# Show the last step for each client (whether complete or incomplete)
print(f"Last step for each client: \n{last_steps}")

Clients who didn't complete the process: ['451173196_11661340552_563345' '72221519_52513154978_430287'
 '905546080_75813398358_250101' ... '99583652_41711450505_426179'
 '493310979_9209676464_421146' '472154369_16714624241_585315']
Last step for each client:
visit_id
1000165_4190026492_760066       confirm
100019538_17884295066_43909     confirm
100022086_87870757897_149620    confirm
100034012_10293842356_627828    confirm
100037962_47432393712_705583     step_1
                                 ...
999984454_18731538378_781808    confirm
999985675_64610694964_443659    confirm
999988789_76411676596_272843     step_1
999989069_52203656268_170206     step_1
999992932_41666455053_671149    confirm
Name: to_step, Length: 108427, dtype: object

In [27]:
# Get the total number of unique visits
total_visits = filtered_df['visit_id'].nunique()

# Identify the unique steps, excluding 'start' because it didn't make sense to keep it
steps = ['start','step_1', 'step_2', 'step_3', 'confirm'] 

# Initialize a dictionary to store the percentage of clients reaching each step
step_percentages = {}

# Iterate through each step and calculate the percentage
for step in steps:
    visits_reached_step = filtered_df[filtered_df['process_step'] == step]['visit_id'].nunique()
    # Calculate the percentage of visits who reached this step
    step_percentages[step] = (visits_reached_step / total_visits) * 100

# Print the results
for step, percentage in step_percentages.items():
    print(f"Percentage of visits who reached {step}: {percentage:.2f}%")

Percentage of visits who reached start: 100.00%
Percentage of visits who reached step_1: 80.16%
Percentage of visits who reached step_2: 68.90%
Percentage of visits who reached step_3: 62.11%
Percentage of visits who reached confirm: 52.82%

In [29]:
# Now, for the general clients
# Get the total number of unique clients
total_clients = filtered_df['client_id'].nunique()

# Identify the unique steps, including 'start' for the 'process_step' column
steps = ['start', 'step_1', 'step_2', 'step_3', 'confirm']

# Initialize a dictionary to store the percentage of clients reaching each step
step_percentages = {}

# Iterate through each step and calculate the percentage
for step in steps:
    clients_reached_step = filtered_df[filtered_df['process_step'] == step]['client_id'].nunique()
    # Calculate the percentage of clients who reached this step
    step_percentages[step] = (clients_reached_step / total_clients) * 100

# Print the results
for step, percentage in step_percentages.items():
    print(f"Percentage of clients who reached {step}: {percentage:.2f}%")

Percentage of clients who reached start: 100.00%
Percentage of clients who reached step_1: 86.11%
Percentage of clients who reached step_2: 78.02%
Percentage of clients who reached step_3: 72.20%
Percentage of clients who reached confirm: 63.83%

## Exporting the tables

In [30]:
filtered_df.to_csv('../data/clean/web_data_merged_filtered.csv')

In [31]:
time_spent_df.to_csv('../data/clean/time_spent.csv')